@model MVCWEB.Models.Evento

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dataHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tema)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("De volta a lista", "Index")
</p>
